<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign-In</title>
</head>
<body>
    <%- include('_header'); %>

    <h1>USER SIGN-UP</h1>
    <form action="/users/create" method="post">
        <input type="text" name="name" placeholder="Enter Your Name" required>
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="password" name="confirmPassword" placeholder="Enter Confirn Password" required>
        <button type="submit">Sign Up</button>
    </form>

    <%- include('_footer'); %>
</body>
</html>